<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
       <form #signUp="ngForm" (ngSubmit)="onSignin()">
        <ng-container ngModelGroup="userdetails">
          <div class="form-group">
            <label for="userName">Username*</label>
            <input (keyup)="onmaxlength($event)"
            minlength="8" maxlength="12" 
            #userName="ngModel" name="userName" 
            required ngModel 
            type="text" class="form-control" id="userName"
            pattern="[a-zA-Z]+">

            <strong class="text-danger" *ngIf="userName.touched && userName.hasError('required')">
                username is a mandatory field
            </strong>

            <ng-container *ngIf="userName.dirty">
              <strong class="text-danger" *ngIf="userName.hasError('pattern')">
                username must contain only capital and small alphabets
           </strong>

           <strong class="text-danger" *ngIf="userName.hasError('minlength')" >
                username must contain minimum 8 character 
           </strong>
            </ng-container>

            <strong class="text-danger" *ngIf="maxlenflag">
                 username must contain only 12 maximum character 
            </strong>

          </div>

          <div class="form-group">
             <label for="email">Email*</label>
             <input 
             #email="ngModel" required ngModel 
             type="text" name="email"  class="form-control" id="email"
             pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

             <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
                 Email is mandatory field 
             </strong>

             <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                   Invalid emailId
             </strong>
          </div>
        </ng-container>
         
          
          <div class="form-group">
             <label for="secretQuestion">Secret Question*</label>
             <select #secretQuestion="ngModel" 
             class="form-control" id="secretQuestion" name="secretQuestion" ngModel required >
                  <option value="favouritebook">favouriteBook</option>
                  <option value="favouriteSport">favouriteSport</option>
             </select>

             <strong class="text-danger" *ngIf="secretQuestion.touched && secretQuestion.hasError('required')">
                 secret question is mandatory field
             </strong>
          </div>

          <div class="form-group">
               <label for="answer">Answer*</label>
               <input #answer="ngModel" name="answer" type="text" class="form-control" id="answer" ngModel required>

               <strong class="text-danger" *ngIf="answer.touched && answer.hasError('required')">
                  Answer is a mandatory field
               </strong>
          </div>

          <div class="form-group">
            <label>
            <input  type="checkbox" id="isSubscribed" ngModel name="isSubscribed">
            Subscribe for daily email
            </label> 
          </div>

          <div class="form-group">
            <label [for]="moc.mode" *ngFor="let moc of contactMode">
                 <input type="radio" ngModel required [value]="moc.mode" name="moc" [id]="moc.mode">
                 {{moc.mode}}
            </label>
           
             <!-- <label>
                <input type="radio" id="mocPhone" value="phone" name="moc" ngModel >
                Phone
             </label>
             <label>
              <input type="radio" id="mocPhone" value="email" name="moc" ngModel >
               Email
           </label>  -->
          </div>
          <button class="btn btn-sm btn-block btn-primary">Submit</button>
       </form>
    </div>
  </div>
</div>